# Python
src/__pycache__/
data/
outputs/

# Models
models/classifier.onnx
models/classifier.json
models/whitelist.txt
models/blacklist.txt

# Logs
logs/

# Rust
dns-templar-rs/target/
dns-templar-rs/config.toml

# Misc
todo.txt